{% extends "base_template.html" %}

{% block content %}
<main role="main" class="container mt-5 d-flex justify-content-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <h2 class="text-center">Login</h2>

        <form method="post" action="{% url 'users:user_login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary" aria-label="Login Button">Log In</button>
        </form>
    </div>

</main>
	<p class="text-center text-muted mt-3 mb-0">Have already an
                    account? <a href="{% url 'users:user_register' %}"
                    class="fw-bold text-body"><u>Create an Account Here</u></a></p>
{% endblock %}
