{% extends "base_template.html" %}  <!-- Extend your base template -->
{% block content %}
<div class="container">
    <h2>Register</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}  <!-- CSRF token is required for form submission -->
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">User Info</legend>
            {{ user_form.as_p }}  <!-- Render user form fields -->
        </fieldset>
            <button type="submit" class="btn btn-primary">Register</button>

    </form>
    <div class="mt-3">
        Already have an account? <a href="{% url 'users:user_login' %}">Login
        here</a>
    </div>
</div>
{% endblock %}