{% extends "base_template.html" %}

{% block content %}
<div class="container mt-4">
    <div class="profile-header text-center">
        <h2>User Profile: {{ user.username }}</h2>
    </div>
    <div class="profile-info mt-3">
        <div class="row">
            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
                <!-- Display the user's profile photo -->
                {% if user_profile.user_photo %}
                <img src="{{ user_profile.user_photo.url }}" alt="Profile photo" class="img-fluid rounded-circle" style="width: 150px; height: 150px;">
                {% else %}
                <i class="fas fa-user-circle fa-5x"></i>
                {% endif %}
            </div>
            <div class="col-12 col-md-8">
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>First Name:</strong> {{ user.first_name }}</p>
                <p><strong>Last Name:</strong> {{ user.last_name }}</p>
                <!-- Display additional profile information -->
                <p><strong>Address:</strong> {{ user_profile.address|default:"Not provided" }}</p>
                <p><strong>Mobile Number:</strong> {{ user_profile.mobile_number|default:"Not provided" }}</p>
                <p><strong>Biography:</strong> {{ user_profile.biography|default:"Not provided" }}</p>
                <p><strong>Website:</strong> <a href="{{ user_profile.website }}" target="_blank">{{ user_profile.website|default:"Not provided" }}</a></p>
                <p><strong>Date of Birth:</strong> {{ user_profile.date_of_birth|date:"F d, Y"|default:"Not provided" }}</p>
                <p><strong>Gender:</strong> {{ user_profile.gender|default:"Not provided" }}</p>
            </div>
        </div>
    </div>

    {% if request.user.username == user.username %}
    <!-- This Edit Profile button will only be shown to the user who owns the profile -->
    <div class="text-center mt-3">
        <a href="{% url 'users:edit_profile' %}" class="btn btn-primary btn-lg"
           role="button">Edit Profile</a>
    </div>
    {% endif %}
</div>
{% endblock %}
