{% extends 'base_template.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-1 col-sd-8 col-md-8">
    <div class="row">
        <div class="row mt-md-4 justify-content-center align-items-center">
            <div class="col">
                <div class="d-flex align-items-center h-100 text-md-start">
                    <legend class="form-label mb-0">Post tomas  Type: {{ post_type|capfirst }}</legend>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-1">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.title|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.description|as_crispy_field }}
            </div>
            <div class="row">
                <div class="col">
                    {{ form.event_date|as_crispy_field }}
                </div>
                <div class="col">
                    {{ form.date_uncertainty_days|as_crispy_field }}
                </div>
            </div>
            <span class="d-none"> <!-- Hidden fields for latitude and longitude -->
                {{ form.longitude|as_crispy_field }}
                {{ form.latitude|as_crispy_field }}
            </span>
            <div class="form-group">
                {{ image_form.file_field|as_crispy_field }}
            </div>

            <!-- Display existing photos -->
            <div>
                <p>Existing Photos:</p>
                {% for photo in photos %}
					<div class="photo-container position-relative" id="photo-container-{{ photo.id }}" style="display: inline-block; margin: 10px;">
					    <img src="{{ photo.image.url }}" alt="Photo" style="width: 100px; height: 100px;">
					    <a href="javascript:void(0);"
					       class="delete-photo-btn-tomas position-absolute top-0 end-0 btn btn-sm btn-danger"
					       style="border-radius: 50%; padding: 2px 5px; margin: 2px;"
					       data-photo-id="{{ photo.id }}"
					       data-post-type="{{ post_type }}"
					       data-ajax-url="{% url 'posts:delete_photo' photo_id=photo.id post_type=post_type %}">
					        &times;
					    </a>
					</div>
                {% endfor %}

            </div>

            <div class="d-none d-md-block" id="map" style="height: 400px; width: 100%;"></div>
        <div class="row">
	        <div class="col mx-auto order-1">
		        <button type="button" class="btn btn-primary d-md-none" data-bs-toggle="modal" data-bs-target="#mapModal">
			  Select Location
			</button>
	        </div>
	        <div class="col mx-auto order-0">
		                    <button type="submit" class="btn btn-primary mb-5">Update Post</button>

	        </div>

        </div>

        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="mapModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mapModalLabel">Map Location</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="map_modal" style="height: 400px; width: 100%;"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initDefaultMap"></script>




<script>
// Initializes the map on the main page
function initDefaultMap() {
    let initialPosition = {lat: 52.23635026009495, lng: 0.05784246226898956};
    let map = new google.maps.Map(document.getElementById('map'), {
        zoom: 7,
        center: initialPosition
    });
    let marker = new google.maps.Marker({
        position: initialPosition,
        map: map,
        draggable: true
    });

    // Add listener for marker drag end
    marker.addListener('dragend', function() {
        updateFormFields(marker.getPosition());
    });

    // Add listener for map clicks to reposition the marker
    map.addListener('click', function(e) {
        marker.setPosition(e.latLng);
        updateFormFields(e.latLng);
    });
}

// Initializes the map inside the modal
function initModalMap() {
    let initialPosition = {lat: 52.23635026009495, lng: 0.05784246226898956};
    let modalMap = new google.maps.Map(document.getElementById('map_modal'), {
        zoom: 7,
        center: initialPosition
    });
    let modalMarker = new google.maps.Marker({
        position: initialPosition,
        map: modalMap,
        draggable: true
    });

    modalMarker.addListener('dragend', function() {
        updateFormFields(modalMarker.getPosition());
    });

    modalMap.addListener('click', function(e) {
        modalMarker.setPosition(e.latLng);
        updateFormFields(e.latLng);
    });
}

// Function to update the latitude and longitude form fields
function updateFormFields(position) {
    document.getElementById('id_latitude').value = position.lat();
    document.getElementById('id_longitude').value = position.lng();
}

// Event listener for modal show, to initialize or reinitialize the modal map
document.getElementById('mapModal').addEventListener('shown.bs.modal', function () {
    initModalMap(); // Initialize or reinitialize modal map
});

// Update submit button state based on post type selection
function updateSubmitButton() {
    let selectedPostType = document.querySelector('input[name="postType"]:checked');
    let submitBtn = document.getElementById('submit-btn');
    let warningMsg = document.getElementById('submit-warning');
    let hiddenPostTypeInput = document.getElementById('hiddenPostType');

    if (selectedPostType) {
        submitBtn.disabled = false;
        warningMsg.style.display = 'none';
        hiddenPostTypeInput.value = selectedPostType.value;
    } else {
        submitBtn.disabled = true;
        warningMsg.style.display = 'block';
        hiddenPostTypeInput.value = '';
    }
}

// Ensure correct initial state of submit button on page load
document.addEventListener('DOMContentLoaded', function() {
    updateSubmitButton();
});
</script>
	<script>
$(document).ready(function() {
    $('.delete-photo-btn-tomas').click(function() {
        var btn = $(this); // The delete button
        var photoId = btn.data('photo-id');
        var ajaxUrl = btn.data('ajax-url'); // Access the AJAX URL

        // Confirm deletion
        if (!confirm('Are you sure you want to delete this photo?')) {
            return false;
        }

        // AJAX request to your delete_photo view
        $.ajax({
            url: ajaxUrl, // Use the AJAX URL from the data attribute
            type: 'GET', // Or 'POST', depending on how your Django view is set up
            dataType: 'json', // Expect a JSON response
            // Inside your AJAX success callback for photo deletion
			success: function(response) {
			    if (response.success) {
			        // Remove the photo container element from the page
			        $('#photo-container-' + photoId).remove();
			        // Optionally reinitialize the map if necessary
			        initDefaultMap(); // Or initModalMap(), depending on your specific case
			    } else {
			        alert('Error: ' + response.error);
			    }
			},

        });
    });
});
</script>



{% endblock %}
