{% extends 'base_template.html' %}

{% block content %}

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'all' %}active{% endif %}" href="{% url 'posts:view_all_posts' %}">All Posts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'lost' %}active{% endif %}" href="{% url 'posts:view_lost_posts' %}">Lost Posts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active_tab == 'found' %}active{% endif %}" href="{% url 'posts:view_found_posts' %}">Found Posts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#show-map" data-bs-toggle="tab">Map</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="mx-3 tab-content mb-5">
    <div class="tab-pane fade {% if active_tab == 'all' %}show active{% endif %}" id="all-posts">
        <!-- Display all posts here if 'all' is the active tab -->
        {% if active_tab == 'all' %}
            {% for post in posts %}
                <a href="{{ post.get_absolute_url }}" style="text-decoration: none; color: inherit;">
                    <p>
                        <strong>{{ post.title|truncatechars:200 }}</strong><br>
                        {{ post.description|truncatechars:200 }}
                    </p>
                </a>
            {% endfor %}
        {% endif %}
    </div>
    <div class="tab-pane fade {% if active_tab == 'lost' %}show active{% endif %}" id="lost-posts">
        <!-- Display lost posts here if 'lost' is the active tab -->
        {% if active_tab == 'lost' %}
            {% for post in posts %}
                <a href="{{ post.get_absolute_url }}" style="text-decoration: none; color: inherit;">
                    <p>
                        <strong>{{ post.title|truncatechars:200 }}</strong><br>
                        {{ post.description|truncatechars:200 }}
                    </p>
                </a>
            {% endfor %}
        {% endif %}
    </div>
    <div class="tab-pane fade {% if active_tab == 'found' %}show active{% endif %}" id="found-posts">
        <!-- Display found posts here if 'found' is the active tab -->
        {% if active_tab == 'found' %}
            {% for post in posts %}
                <a href="{{ post.get_absolute_url }}" style="text-decoration: none; color: inherit;">
                    <p>
                        <strong>{{ post.title|truncatechars:200 }}</strong><br>
                        {{ post.description|truncatechars:200 }}
                    </p>
                </a>
            {% endfor %}
        {% endif %}
    </div>
    <div class="tab-pane fade" id="show-map">
        <!-- Display map here -->
        <!-- You can add the code for showing the map here -->
    </div>
</div>



	<!-- Pagination controls -->
<div class="pagination mx-3">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>




<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        let isAuthenticated = {{ request.user.is_authenticated|yesno:"true,false" }};
        if (!isAuthenticated) {
            let links = document.querySelectorAll('a[href^="/"]');
            links.forEach(function(link) {
                link.addEventListener('click', function(event) {
                    event.preventDefault();
                    alert('Please log in to view post details.');
                });
            });
        }
    });
</script>
{% endblock %}
